body {
    /* background-color: #d4e6f4; */
    background-color: #614de5;
}

/* Barra de Menú */
nav{
    height: 80px; 
    margin-left: -15px; 
    margin-right: -15px; 
    overflow: hidden;
    text-align: center;
    display: inline;
    touch-action: none;
}
ul{
    float: left;
    list-style-type: none; 
    margin: 0;
    padding: 0;
}
li{
    float: left;
    text-align: -webkit-match-parent;

}
li a{
    padding: 10px; 
    margin-bottom: 30px;
    margin-top: 15px;
    font-style: normal;
}
#login{
    margin-left: 120px;
    margin-top: 23px;

}
#register{
    margin-top: -218px;
    margin-left: 930px;
}
span{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #333;
    overflow-x: hidden;
}

/* Logo */
#logo {
    height: 110px;
    width: 110px;
    padding: 0;
    margin-left: 20px;
    margin-top: -38px;
    background-color: rgb(255, 255, 255);
}

/* Carrusel de Imagenes  */
.carousel-item {
	height: 700px;
    font-weight: auto;
    width: 700px;
}
#carrusel{
    margin-left: 105px;
    padding-right: 40%;
    margin-right: -100px;
    background: #241c55;
    background-image: url(https://i.pinimg.com/564x/fa/6b/0d/fa6b0d27edb0f06bd1c9de76d1440d12.jpg);
    background-repeat: repeat;
    text-align: center;
} 










/* 
.carousel-caption {
    position: absolute;
    right: 100%;
    bottom: 20px;
    left: 100%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background-color: ivory;
  } */




/* Ingresar Testimonio de Adopción */
section {
    background: #fff;
    padding-top: 50px;
    padding-bottom: 90px;
}
#intro-home {
    padding-left: 0px;
    padding-right: 0px;
}
.bg-light {
    background-color: #f4f4f4!important;
    margin-left: 105px;
    margin-right: 200px;

}
.pattern4-right {
    background-image: url(https://www.ingridkuhn.com/themes/unitedpets/css/../img/patterns/pattern4-2.png);
    background-position: right;
    background-repeat: no-repeat;
    height: 300px;
    width: 1140px;
}
.bg-light {
    background-color: #f8f9fa!important;
}
#cont-test{
    margin-right: 100px;
    padding-right: 0px;
}
#ingresar-testimonio h3{
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin-bottom: 20px;
    line-height: 1.4em;
}
#ingresar-testimonio p{
    color: #8a8a8a;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    font-weight: 300;
    margin-bottom: 20px;
    line-height: 1.4em;
}

/* Contenido */
.call-title {
    transition: all ease-in-out 0.3s;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 110px;
    border-bottom: 5px solid;
    background: rgba(0, 0, 0, 0.52);
}
#información {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}
h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.2em;
    color: #222;
    font-weight: 700;
    margin-bottom: 20px;
    line-height: 1.1;
}
.call-box img {
    -webkit-transition: 0.3s;
    width: 100%;
}
img {
    vertical-align: middle;
    border-style: none;
}
.h7 {
    color: #8a8a8a;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    font-weight: 300;
    margin-bottom: 20px;
    line-height: 1.4em;
}




